<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd 
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-4.0.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <!-- 配置任务线程池 -->
	<task:executor id="executor" pool-size="5" />  
    <task:scheduler id="scheduler" pool-size="10" />  
    <!-- 启用注解方式启动任务线程池 -->
    <task:annotation-driven executor="executor" scheduler="scheduler" />
    
    <!-- 配置作业类的java Bean --> 
    <bean id="SeckillScheduled" class="com.sojson.seckill.service.impl.SeckillScheduledServiceImpl"/>
    
    <!-- 配置task-->
    <task:scheduled-tasks>  
        <!--任务1,方法名称：testScheduledByXML，cron为执行规则:每隔20秒执行一次  -->
        <task:scheduled ref="SeckillScheduled" method="testScheduledByXML"  cron="0/20 * * * * ? " />  
    </task:scheduled-tasks> 
</beans>