<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sojson.fitments.mapper.FitmentMapper" >

  <!-- 查询列 -->
  <sql id="Base_Column_List" >
    id,title,content,tag,star,style,remark,valid,addedTime,url
  </sql>
  
  <!-- 查询分页条件 -->
  <sql id="limit_sql">
  	   <if test="page_sql != null and page_sql != ''">
      	${page_sql}
      </if>
  </sql>
  
  <!-- 查询where条件 -->
  <sql id="where_all">
  	<where>
  	  <if test="findContent != null and findContent !='' " >
        and (
        LOWER(title) like CONCAT("%",#{findContent,jdbcType=VARCHAR},"%") or
        LOWER(tag) like CONCAT("%",#{findContent,jdbcType=VARCHAR},"%")
        )
      </if>
      <if test="pkid !=null and pkid !=''">
        and id = #{pkid,jdbcType=BIGINT}
      </if>
       and valid=1
    </where>
  </sql>
  
  <!-- 查询所有 -->
  <select id="findAll" resultType="com.sojson.common.model.Fitment"  >
  	 select 
    <include refid="Base_Column_List" />
    from t_fitment 
    <include refid="where_all"/>
    order by id desc
    <include refid="limit_sql" />    
  </select>
  
  <!-- 查询数量 -->
  <select id="findCount" resultType="java.lang.Long" >
 	 select count(id) from  t_fitment
  	<include refid="where_all" />
  </select>
  
   <!-- 查询单个 -->
  <select id="getOneFitmentByPkid" resultType="com.sojson.common.model.Fitment"  parameterType="com.sojson.fitments.bo.FitmentBo" >
     select 
     <include refid="Base_Column_List" />
     from t_fitment 
    <include refid="where_all"/>
  </select>
  <!-- 新增 -->
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.sojson.common.model.Fitment" >
    insert into t_fitment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="star != null" >
        star,
      </if>
      <if test="style != null" >
        style,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="valid != null" >
        valid,
      </if>
      <if test="addedTime != null" >
        addedTime,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
       <if test="url != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
       <if test="star != null" >
        #{star,jdbcType=BIGINT},
      </if>
       <if test="style != null" >
        #{style,jdbcType=VARCHAR},
      </if>
       <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
       <if test="valid != null" >
        #{valid,jdbcType=DECIMAL},
      </if>    
      <if test="addedTime != null" >
        #{addedTime,jdbcType=TIMESTAMP},
      </if>  
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert> 
  
  <!-- 删除 -->
  <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
     update t_fitment a SET a.valid=0 where a.id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 修改 -->
  <update id="modifyFitment" parameterType="com.sojson.common.model.Fitment"  >
  update t_fitment
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="star != null" >
        star = #{star,jdbcType=BIGINT},
      </if>
      <if test="style != null" >
        style = #{style,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
</mapper>