<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sojson.seckill.mapper.SeckillMapper">
    <!--减库存  -->
    <update id="reduceNumber">
    update seckill
	set number=number-1
	where seckill_id=#{seckillId}
	and start_time <![CDATA[ <= ]]> #{killTime}
	and end_time>=#{killTime}
	and number>0
    </update>
    
    <!-- 查询列 -->
    <sql id="base_column_list">
    seckill_id,name,number,start_time,end_time,create_time
    </sql>
    
    <!-- 查询单个秒杀 -->
    <select id="queryBySeckillId" resultType="com.sojson.seckill.model.Seckill" parameterType="long">
    SELECT seckill_id seckillId,
           name,
           number,
           start_time startTime,
           end_time endTime,
           create_time createTime
           from seckill where seckill_id=#{seckillId}
    </select>
    
    <!-- 分页查询秒杀 -->
    <select id="querySeckillList" resultType="com.sojson.seckill.model.Seckill">
    select seckill_id seckillId,
           name,
           number,
           start_time startTime,
           end_time endTime,
           create_time createTime
           from seckill ORDER BY create_time DESC
    limit #{offset},#{limit}
    </select>    
</mapper>